@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

* {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	box-sizing: border-box;
	font-family: "Rubik", sans-serif;
}

html {
	font-size: 62.5%;
	overflow-x: hidden;
}
body {
	background: #ba4949;
}

header {
	width: 100%;
	height: 80%;
	box-shadow: -0.1rem -0.1rem 0.3rem rgba(0, 0, 0, 0.548);
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1rem 0;
}

.logo {
	color: white;
	font-size: 2rem;
	font-weight: 500;
}

#imglogo {
	height: 2rem;
	width: 2rem;
	transform: translateY(0.3rem);
}

.timer {
	height: 32rem;
	width: 48rem;
	margin: 5rem auto;
	padding: 2rem 0 3rem;
	background: #c15c5c;
	border-radius: 1.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	font-size: 12rem;
	color: white;
	font-weight: 600;
}

.nav__bar--timer ul {
	display: flex;
	font-weight: 400;
	padding: 0 0 1.5rem 0;
}

.nav__bar--timer ul li a {
	display: block;
	color: #f6ffff;
	font-size: 1.6rem;
	padding: 0.5rem 0.8rem;
	transition: 0.2s;
}

.select--one {
	font-weight: 700;
	text-shadow: 0 0.3rem 0 rgba(0, 0, 0, 0.438);
}

.nav__bar--timer ul li a:active {
	transform: translateY(0.3rem);
}

.timer__clock {
	padding-bottom: 2rem;
}
.timer__part {
	padding: 0;
	margin: 0;
}

.controls {
	display: flex;
	text-align: center;
	gap: 1.8rem;
}

.button {
	cursor: pointer;
	border: none;
	width: 15rem;
	height: 5rem;
	border-radius: 1.1rem;
	font-size: 2.2rem;
	color: "black";
	font-weight: 500;
	background-color: white;
	transition: color 0.5s ease-in-out 0s;
	box-shadow: inset 0 -0.3rem 0.1rem 0 rgb(212, 212, 212);
}

.button:active {
	transform: translateY(-0.2rem);
}

@media (max-width: 600px) {
	.timer {
		font-size: 10rem;
	}
}

@media (max-width: 530px) {
	.timer {
		height: 28rem;
		width: 40rem;
	}
}

@media (max-width: 450px) {
	.timer {
		height: 28rem;
		width: 35rem;
	}

	.nav__bar--timer ul li a {
		font-size: 1.6rem;
	}
	.button {
		width: 10rem;
		height: 3rem;
		font-size: 1.8rem;
	}
}

@media (max-width: 410px) {
	.timer {
		height: 30rem;
		width: 29rem;
	}

	.minutestosecond {
		display: none;
	}

	.timer__part--seconds {
		display: none;
	}
	.nav__bar--timer ul li a {
		font-size: 1.5rem;
	}

	.button {
		width: 10rem;
		height: 5rem;
		font-size: 1.8rem;
	}
}

@media (max-width: 300px) {
	.timer {
		height: 15rem;
		width: 15rem;
	}
	.nav__bar--timer ul {
		transform: translateY(1rem);
	}
	.nav__bar--timer ul li a {
		display: none;
	}
	.controls {
		transform: translateY(-1rem);
		gap: 1rem 1rem;
	}
	.button {
		width: 6rem;
		height: 6rem;
		font-size: 1.6rem;
	}
}
