@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
* {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	box-sizing: border-box;
	font-family: 'Rubik', sans-serif;
}

body {
	background: #ba4949;
}

header {
	width: 100%;
	height: 80%;
	box-shadow: -1px -1px 3px rgba(0, 0, 0, 0.548);
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 250px;
}

.logo {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 3px;
	color: white;
	font-size: 1.2rem;
	font-weight: 500;
}

#imglogo {
	position: relative;
	height: 20px;
	width: 20px;
	top: 1px;
}

.nav-bar ul {
	display: flex;
}

.nav-bar ul li a {
	display: block;
	color: #f6ffff;
	background: #c86d6d;
	font-size: 13px;
	padding: 5px 15px;
	transition: 0.2s;
	margin: 15px 5px;
	border-radius: 5px;
}

.nav-bar ul li a:hover {
	background: #d87676;
	transition: all 600ms ease;
	text-shadow: 0px 0px 9px rgba(255, 255, 255, 0.425);
}

.nav-bar ul li a:active {
	position: relative;
	top: 2px;
}

.nav__bar--timer ul {
	display: flex;
	font-weight: 400;
	padding: 0 0 15px 0;
}

.nav__bar--timer ul li a {
	display: block;
	color: #f6ffff;
	background: #c15c5c;
	font-size: 16px;
	padding: 3px 8px;
	transition: 0.2s;
	border-radius: 5px;
}

.nav__bar--timer ul li a:active {
	position: relative;
	top: 2px;
}

.nav__bar--timer ul li a:hover {
	background: #a44e4e;
}

.timer {
	height: 320px;
	width: 480px;
	margin: 50px auto;
	padding: 20px 0px 30px;
	background: #c15c5c;
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	font-size: 120px;
	color: white;
	font-weight: 600;
}

.timer__clock{
	padding-bottom: 20px;
}
.timer__part {
	padding: 0px;
	margin: 0px;
}

.controls {
	display: flex;
	gap: 18px;
}

.button {
	display: block;
	cursor: pointer;
	border: none;
	width: 150px;
	height: 50px;
	border-radius: 5px;
	box-shadow: rgb(255, 255, 255) 0px 6px 0px;
	font-size: 22px;
	color: rgb(186, 73, 73);
	font-weight: 500;
	background-color: white;
	transition: color 0.5s ease-in-out 0s;
	box-shadow: inset 0px -3px 1px 0px rgb(212, 212, 212);
}

.button:active {
	position: relative;
	top: 1px;
}

#setting-dialog{
	border: none;
	margin: 3.5rem auto;
	padding: 10px;
	height: 350px;
	width: 400px;
	border-radius: 10px;
	box-shadow: 3px 4px 13px #00000047;
}

dialog[open]::backdrop {
  background-color: rgba(0, 0, 0, 0.562);
}

dialog h4{
	padding: 10px;
	color: rgb(61, 61, 61);
	font-weight: 700;
}

.header-dialog{
	display: flex;
	gap: 280px;
	border-bottom: 4px solid rgba(0, 0, 0, 0.062);
}

#close__modal--setting{
	cursor: pointer;
	position: relative;
	top: -5px;
	background: none;
	border: none;
	font-size: 35px;
	color: gray;
}

.timer-dialog{
	display: flex;
	justify-content: center;
	align-content: center;
	flex-grow: 3;
	gap: 25px;
	padding: 15px 10px;
	font-size: 14px;
	color: gray;
}

.input__timer-dialog{
	width: 100px;
	height: 35px;
	border: none;
	background: rgba(128, 128, 128, 0.212);
	border-radius: 5px;
	text-indent: 10px;
}

.block{
	display: block;
	font-size: 16px;
	padding-top: 20px;
	text-indent: 10px;
	color: rgb(56, 56, 56);
}